.featuredImage {
    position: fixed;
    max-height: 500; 
    left: 20px;
    margin-top: 10vh;
}

.imageHeader {
    padding-top: 200px;
}

.imagesText{
    height: 100vh;
    color: #efe6e1;
}

.scrollingPanel {
    width: 260px;
    right: 0;
    position: absolute;
    padding: 60px;
}

.splash {
    text-align: center;
    height: 250vh;
    background: linear-gradient(#efe6e1 50%, #1c1b1b);
    padding-top: 20px;
}


.splashHeader {
    font-size: 36px;
    margin: 40px;
}