.header {
    width: 100%;
    position: fixed;
    height: 50px;
    top:0;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
    z-index: 1;
    background: #efe6e1;
}

.homeIcon {
    right: 40px;
    top: 20px;
    position: fixed;
    font-size: 30px;
    z-index: 2;
}