body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  /* background-color: #efe6e1; */
  background-color: #1c1b1b;
}
.featuredImage {
  position: fixed;
  width: -webkit-calc(100% - 400px);
    width:    -moz-calc(100% - 400px);
    width:         calc(100% - 400px);
  left: 20px;
    margin-top: 10vh;
}

.imageHeader {
  padding-top: 200px;
}

.imagesText{
  height: 100vh;
  color: #efe6e1;
}

.scrollingPanel {
  width: 260px;
  right: 0;
  position: absolute;
  padding: 60px;
}

.pageContent {
  z-index: 0;
}

.header {
  width: 100%;
  position: fixed;
  height: 50px;
  top:0;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 1;
  background: #efe6e1;
  box-shadow: 0 2px 5px -2px #e0dad6;
}

.splash {
  /* margin-top: 100px; */
  /* margin: 50px;  */
  text-align: center;
  height: 200vh;
  // background-color: #efe6e1;
  background: linear-gradient(#efe6e1 50%, #1c1b1b);
  /* position: fixed; */
  padding-top: 20px;
}

.splashHeader {
  font-size: 36px;
  margin: 40px;
}
